.project {
  @media print {
    margin: 0;
    border: none;
  }
  margin-top: 4rem;
  border-bottom: 1px solid var(--gray-color);
  margin-bottom: 3rem;
  .heading {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }
  .desc__item {
    display: flex;
    .icon {
      color: var(--sea-color);
      font-size: 3rem;
    }
  }
  .education__desc {
    text-transform: normalize;
    font-size: 1.7rem;
  }
}
