.end {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  @media print {
    margin: 0;
    border: none;
    align-items: flex-start;
  }
  .heading {
    margin-bottom: 5rem;
    text-transform: uppercase;
  }
  .desc__item {
    display: flex;
    .icon {
      color: var(--sea-color);
      font-size: 3rem;
    }
  }
  .interest__desc {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .img {
    display: flex;
    .img__item {
      width: 452px;
      height: 236px;
      padding: 1rem;
    }
  }
  .rightImg {
    display: flex;
    justify-content: center;
    height: 100%;

    .rightImg__item {
      height: 100%;
      width: 250px;
    }
  }
  .thankYou {
    @media print {
      display: none;
    }
    color: var(--sea-color);

    filter: invert(43%) sepia(61%) saturate(560%) hue-rotate(163deg)
      brightness(93%) contrast(90%);
  }
}
