.body {
  margin-left: 25rem;
  padding: 2rem 0 0 3rem;
  .icon {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 1rem 0;
  }
}
@media print {
  html {
    font-size: 11px;
    line-height: 1.6rem !important;
    font-family: "RoboTo", sans-serif;
    box-sizing: border-box;
    color: var(--black-color);
  }
  section {
    height: 1122.24px;
    display: block;
  }
  .body {
    margin-left: 0;
    .start {
      border: none;
    }
    .experience {
      margin: 0;
      padding: 0;
    }
  }
  .navigation {
    display: none;
  }
}
@media only screen and (max-width: 46.1875em) {
  .body {
    margin-left: 0;
  }
  .navigation {
    display: none;
  }
  h1 {
    font-size: 1rem;
  }
  .interest {
    .img {
      display: flex;
      justify-content: center;
      .img__item {
        width: 300px;
        height: 236px;
        padding: 4em 0;
      }
    }
    .rightImg {
      display: none;
      justify-content: center;
      height: 100%;
      .rightImg__item {
        height: 100%;
        width: 250px;
      }
    }
  }
  .byeImg__wrapper {
    display: flex;
    width: 70vw;
    .thankYou {
      width: 200px;
    }
  }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .navigation {
    display: none;
  }
  .body {
    margin-left: 0;
  }
  .end {
    .thankYou {
      display: none;
    }
  }
  .interest {
    .rightImg {
      display: none;
    }
  }
  .byeImg__wrapper {
    display: flex;
    width: 70vw;
    .thankYou {
      width: 200px;
    }
  }
}
